<ion-header mode='md'>
  <ion-toolbar mode='md'>
    <ion-buttons slot="start" >
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-page-left">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="player">
    <div class="player-head">
      <img src="../../assets/images/Fondo-P.svg" alt="cover" class="song-cover">
    </div>
    <div class="player-body">
      <img src="../../assets/images/Fondo2.svg" alt="cover" class="song-cover">
      <div class="album-info">
        <p class="album-title">Sistema Control</p>
        <p class="album-title">E & G</p>
        <p class="album-title">Maquinitas</p>
      </div>
    </div>
  </div>
</ion-content>
