<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start" >
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-page-left">Acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-page">
    <div>
      <div class="img-content-desenfoque">
        <img src="../../../../assets/images/Fondo-M.svg" class="desenfoque">
      </div>
      <div class="position-0">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../../../assets/images/Fondo.svg" class="filter-img box-shadow-img border-radius-50"/>
          </ion-thumbnail>
          <ion-col>
            <h3 class="ion-text-end ion-color-light font-weight-500">Sistema Control E & G Maquinitas</h3>
            <h6 class="ion-text-end ion-color-light">Version 1.0</h6>
          </ion-col>
        </ion-item>
        <!--p class="ion-text-end font-weight-ligth">Salatiel Montero González</p-->
      </div>
    </div>
    <div class="content-acerca">
      <h5 class="ion-wrap ion-text-justify interlineado">
        Esta es una aplicación financiera para el control de movimientos de monedas de $1.00 y $5.00 de la linea de sucursales de <strong>Maquinitas</strong> del <strong>Super Abarrotes Wily</strong>.
      </h5>
    </div>
    <div>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../../assets/images/SMG.png" class="filter-img box-shadow-img border-radius-50"/>
        </ion-thumbnail>
        <ion-col>
          <h3 class="ion-text-end ion-color-light font-weight-500">Salatiel Montero González</h3>
          <h6 class="ion-text-end ion-color-light">Desarrollador</h6>
        </ion-col>
      </ion-item>
    </div>
  </div>
</ion-content>
